.container .filters {
    
    width: 100%;
    color: white;
    height:70px;
    border:1px solid #DDDDDD;
    border-radius: 4px;
    
    
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #ffffff;
    height: 48px;
    border: none;
    width: 20%;
    border-radius: 4px;
    float: right;
    margin-top: 10px;
    
    
}
button:hover {
    opacity: 90%;
}