.container .filters {
    
    width: 100%;
    background-color: white;
    height:70px;
    border:1px solid #DDDDDD;
    border-radius: 4px;
    
    
}
button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #ffffff;
    height: 48px;
    border: none;
    width: 20%;
    border-radius: 4px;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    
    
}
button:hover {
    opacity: 90%;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px #DDDDDD solid;
    margin-top: -19px;
}
h3 {
    font-weight: 600;
    margin-top: 5px;
}
h4 {
    font-weight: 400;
    font-size: 14px;
}
.filters div {
    display: inline-block;
    padding-left: 50px;
}